h1, h2, h3, h4, h5, h6 {
    color: white;
}

h2 {
    color: rgb(209, 160, 255);
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    color: rgb(237, 218, 255);
}

a {
    color: rgb(228, 205, 228);
}